<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="title_page_header_logo">
        <a href="/Home/Index"><img src="~/Image/elma_logo.jpeg" alt="ELMA HH"></a>
    </div>
    <div class="login_info">
        <div id="Login_text">@User.Identity.Name</div>
        <div id="log_off"><a class="log_off" href="/JobSeekerAccount/Logoff">Выход</a></div>
    </div>
    <nav id="nav">
        <ul class="top_menu">
            <li><a href="">О компании</a></li>
            <li>
                <a href="" onclick="return false">Соискателю</a><i class="fa fa-angle-down"></i>
                <ul class="sub_menu">
                    <li><a href="">Каталог вакансий</a></li>
                    <li><a href="">Разместить резюме</a></li>
                    <li><a href="/JobSeekerAccount/Register">Регистрация соискателя</a></li>
                </ul>
            </li>
            <li>
                <a href="" onclick="return false">Работодателю</a><i class="fa fa-angle-down"></i>
                <ul class="sub_menu">
                    <li><a href="">Каталог резюме</a></li>
                    <li><a href="">Разместить вакансии</a></li>
                    <li><a href="">Регистрация работодателя</a></li>
                </ul>
            </li>
            <li><a href="">Помощь</a></li>
        </ul>
    </nav>
    @RenderBody()
    @Scripts.Render("~/scripts/myscript.js")
</body>
</html>
